html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
#textarea_out, #textarea_err {
  font-family: monospace;
  width: 100%;
  padding: 0;
  margin: 0;
  height:100px;
}
#content_column {
  margin: auto;
  margin-top: 0px;
  padding: 10px 10px 0px 10px;
  text-align: center;
  width: 450px;
}
.row {
  margin: 5px 0px 5px 0px;
}
#canvas {
  border: 1px solid;
  border-radius: 0;
  background-color: white;
  width: 450px;
  height: 450px;
}
body {
  display: flex;
  flex-flow: column;
}
h1 {
  text-align: center;
}
label {
  display: block;
  padding-left: 2px;
  padding-top: 2px;
}
textarea {
  flex: 1;
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid;
  font-family: monospace;
}

.button {
  background: #ffffff;
  vertical-align: baseline;
  border-radius: 0;
  border: 3px solid #808080;
  color: #000000;
  font-size: 1.2em;
  height: 1.8em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.button:hover {
  border-color: #000000;
}
.button:active {
  background: #808080;
}
.pressed {
  box-shadow:0px 0px 0px 2px #ff1f5b inset;
  border-color: #ff1f5b;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #009ADE; 
}
a {
  color: #0082BB;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
kbd {
  background-color: #eee;
  border-radius: 1px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  font-size: 1em;
  line-height: 1;
  padding: 1px 2px;
  white-space: nowrap;
}
.kbdspan {
  white-space:nowrap;
}
#text_status {
  margin-top: 10px;
  font-family: Courier New, monospace;
  font-size: 1em;
  text-align: left;
}
